*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/terminal-emulator/build
/terminal-view/build
/captures
.externalNativeBuild
.cxx
*.apk
*.jks
!app/testkey_untrusted.jks

terminal-emulator/
terminal-view/
.sigtmp/
out/
dist/
target/
cargo_target/
**/target/
**/cargo_target/
